body{
background-color:rgb(188, 185, 185) ;
}

h1 {
  background: linear-gradient(#4330b4,#9198E5);
  padding: 0.5em;
  color: white;
  border-radius: 0em;
  text-align: left;
  
}
p {
  margin: 0;
  text-indent: 3ch;
 
  font-size: 1.0em;
  color: black;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}


.active, .accordion:hover {
  background-color: #ccc;
}


.panel {
  padding: 0 18px;
  background-color: rgb(188, 185, 185);
  display: none;
  overflow: hidden;
}

